/* Name: Zachary Palmer
Date: 11/25/18
Assignment: 7
Class: GUI 1
*/


body {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    overflow: hidden;
    background-color: #c4caff;;
    padding: 20px 10px;
    text-align: center;
    border-radius: 100px;
}

h3 {
    color: red;
}
  

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 4px;
    border: 1px solid rgb(46, 46, 46);
}

tr:nth-child(even) {background-color: #c4caff;}

tr:nth-child(odd) {background-color: #ffc6a3;}

td:hover {background-color: #ddd;}

input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 100px;
}

input[type=submit] {
    width: 25%;
    background-color: #ffc6a3;
    padding: 14px 20px;
    margin: 8px 0;
    border: 3px white;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
}

#inputtedVals {
    overflow: hidden;
    padding: 20px 10px;
    text-align: center;
}